@media screen and (max-width: 2600px) and (max-height: 1400px) 
@media screen and (max-width: 2560px) and (max-height: 1364px)
  .reg
    &__main
      height: 1000px
    &__footer
      font-size: 14px
@media screen and (max-width: 2204px)
  .reg
    &__footer
      font-size: 12px
@media screen and (max-width: 2204px) and (max-height: 1080px)
  .reg
    &__main
      bottom: -20px
      height: 790px
@media screen and (max-width: 2204px) and (max-height: 1060px)
  .reg
    &__main
      height: 740px
@media screen and (max-width: 2204px) and (max-height: 1020px)
  .reg
    &__main
      height: 690px
@media screen and (max-width: 2204px) and (max-height: 981px)
@media screen and (max-width: 1920px) and (max-height: 1080px)
  .reg
    &__header
      transform: scale(1)
    &__main
      height: 796px
      bottom: -5px
    &__footer
      font-size: 11px
@media screen and (max-width: 1920px) and (max-height: 1050px)
  .reg
    &__main
      height: 750px
@media screen and (max-width: 1920px) and (max-height: 1020px)
  .reg
    &__main
      height: 720px
@media screen and (max-width: 1920px) and (max-height: 990px)
@media screen and (max-width: 1920px) and (max-height: 960px)
@media screen and (max-width: 1920px) and (max-height: 950px)
@media screen and (max-width: 1830px) and (max-height: 920px)
  .reg
    &__main
      bottom: -50px
@media screen and (max-width: 1707px) and (max-height: 1280px)
  .reg
    &__main
      height: 1000px
      bottom: -50px
@media screen and (max-width: 1707px) and (max-height: 901px)
  .reg
    &__main
      height: 670px
@media screen and (max-width: 1707px) and (max-height: 861px)
  .reg
    &__main
      height: 640px
@media screen and (max-width: 1707px) and (max-height: 811px)
  .reg
    &__main
      height: 590px
@media screen and (max-width: 1707px) and (max-height: 771px)
  .reg
    &__main
      height: 570px
@media screen and (max-width: 1707px) and (max-height: 770px)
@media screen and (max-width: 1680px) and (max-height: 1050px)
  .reg
    &__main
      height: 750px
@media screen and (max-width: 1680px) and (max-height: 950px)
@media screen and (max-width: 1680px) and (max-height: 900px)
@media screen and (max-width: 1600px) and (max-height: 880px)
  .reg
    &__main
      height: 700px
@media screen and (max-width: 1600px) and (max-height: 840px)
  .reg
    &__main
      height: 650px
@media screen and (max-width: 1600px) and (max-height: 850px)
@media screen and (max-width: 1600px) and (max-height: 800px)
  .reg
    &__main
      height: 600px
      bottom: -60px
@media screen and (max-width: 1600px) and (max-height: 820px)
@media screen and (max-width: 1600px) and (max-height: 820px)
@media screen and (max-width: 1536px) and (max-height: 864px)
@media screen and (max-width: 1536px) and (max-height: 840px)
@media screen and (max-width: 1536px) and (max-height: 790px)
  .reg
    &__footer
      font-size: 10px
      bottom: 5px
@media screen and (max-width: 1536px) and (max-height: 760px)
  .reg
    &__main
      height: 550px
@media screen and (max-width: 1536px) and (max-height: 730px)
@media screen and (max-width: 1512px) and (max-height: 864px)
@media screen and (max-width: 1512px) and (max-height: 823px)
@media screen and (max-width: 1512px) and (max-height: 790px)
@media screen and (max-width: 1512px) and (max-height: 720px)
@media screen and (max-width: 1512px) and (max-height: 710px)
@media screen and (max-width: 1470px) and (max-height: 770px)
@media screen and (max-width: 1470px) and (max-height: 760px)
@media screen and (max-width: 1470px) and (max-height: 710px)
@media screen and (max-width: 1470px) and (max-height: 670px)
  .reg
    &__main
      height: 550px
@media screen and (max-width: 1470px) and (max-height: 650px)
@media screen and (max-width: 1470px) and (max-height: 630px)
@media screen and (max-width: 1464px) and (max-height: 715px)
  .reg
    &__main
      height: 600px
@media screen and (max-width: 1440px)
  .reg
    &::after
      height: 22%
      bottom: -4%
    &__main
      bottom: -5px
      left: 49%
      transform: translateX(-50%)
      height: 641px
      aspect-ratio: 760/641
    &__footer
      font-size: 9.244px
      bottom: 5px
@media screen and (max-width: 1440px) and (max-height: 860px)
  .reg
    &__main
      bottom: -30px
@media screen and (max-width: 1440px) and (max-height: 830px)
  .reg
    &__main
      bottom: -50px
@media screen and (max-width: 1440px) and (max-height: 820px)
  .reg
    &__main
      height: 620px
@media screen and (max-width: 1440px) and (max-height: 790px)
  .reg
    &__main
      height: 600px
@media screen and (max-width: 1380px) and (max-height: 960px)
@media screen and (max-width: 1380px) and (max-height: 890px)
@media screen and (max-width: 1380px) and (max-height: 810px)
@media screen and (max-width: 1380px) and (max-height: 780px)
  .reg
    &__main
      height: 590px
@media screen and (max-width: 1380px) and (max-height: 740px)
  .reg
    &__main
      height: 550px
@media screen and (max-width: 1380px) and (max-height: 690px)
  .reg
    &__main
      height: 520px
@media screen and (max-width: 1380px) and (max-height: 650px)
  .reg
    &__main
      height: 520px
@media screen and (max-width: 1366px) and (max-height: 1024px)
  .reg
    &__main
      height: 750px
@media screen and (max-width: 1366px) and (max-height: 950px)
  .reg
    &__main
      height: 650px
@media screen and (max-width: 1366px) and (max-height: 920px)
@media screen and (max-width: 1366px) and (max-height: 830px)
@media screen and (max-width: 1366px) and (max-height: 810px)
  .reg
    &__main
      height: 600px
@media screen and (max-width: 1366px) and (max-height: 740px)
  .reg
    &__main
      height: 580px
@media screen and (max-width: 1366px) and (max-height: 730px)
  .reg
    &__main
      height: 550px
@media screen and (max-width: 1366px) and (max-height: 690px)
  .reg
    &__main
      height: 530px
@media screen and (max-width: 1366px) and (max-height: 650px)
  .reg
    &__main
      height: 500px
@media screen and (max-width: 1280px)
  .reg
    &::before
      height: 50%
    &::after
      height: 129px
    &__main
      bottom: -50px
      left: 44%
      transform: translateX(-50%)
      height: 550px
      aspect-ratio: 660/550
    &__footer
      font-size: 7.35px
      bottom: 5px
/////////////////////////////////////////////////////////////////////////////////// =>> 570
@media screen and (max-width: 1280px) and (max-height: 1706px)
  .reg
    &__main
      height: 880px
@media screen and (max-width: 1280px) and (max-height: 860px)
  .reg
    &__main
      height: 650px
@media screen and (max-width: 1280px) and (max-height: 820px)
  .reg
    &__main
      height: 600px
@media screen and (max-width: 1280px) and (max-height: 780px)
@media screen and (max-width: 1280px) and (max-height: 750px)
  .reg
    &__main
      height: 550px
@media screen and (max-width: 1280px) and (max-height: 710px)
  .reg
    &__main
      height: 530px
      bottom: -40px
@media screen and (max-width: 1280px) and (max-height: 690px)
@media screen and (max-width: 1280px) and (max-height: 650px)
  .reg
    &__main
      height: 500px
@media screen and (max-width: 1280px) and (max-height: 620px)
@media screen and (max-width: 1280px) and (max-height: 600px)
  .reg
    &__main
      height: 480px
@media screen and (max-width: 1280px) and (max-height: 590px)
  .reg
    &__main
      height: 470px
@media screen and (max-width: 1280px) and (max-height: 570px)
  .reg
    &__main
      height: 460px
@media screen and (max-width: 1259px) and (max-height: 1032px)
  .reg
    &__main
      height: 800px
@media screen and (max-width: 1210px) and (max-height: 760px)
  .reg
    &__main
      height: 600px
@media screen and (max-width: 1210px) and (max-height: 730px)
  .reg
    &__main
      height: 570px
      bottom: -50px
@media screen and (max-width: 1210px) and (max-height: 715px)
@media screen and (max-width: 1205px) and (max-height: 585px)
  .reg
    &__main
      height: 490px
@media screen and (max-width: 1200px) and (max-height: 720px)
@media screen and (max-width: 1194px) and (max-height: 760px)
@media screen and (max-width: 1180px) and (max-height: 820px)
  .reg
    &__main
      height: 650px
@media screen and (max-width: 1180px) and (max-height: 750px)
  .reg
    &__main
      height: 610px
@media screen and (max-width: 1180px) and (max-height: 720px)
  .reg
    &__main
      height: 550px
@media screen and (max-width: 1138px) and (max-height: 712px)
  .reg
    &__main
      height: 570px
@media screen and (max-width: 1133px) and (max-height: 672px)
  .reg
    &__main
      height: 530px
@media screen and (max-width: 1133px) and (max-height: 630px)
  .reg
    &__main
      height: 500px
@media screen and (max-width: 1120px) and (max-height: 834px)
  .reg
    &__main
      height: 700px
@media screen and (max-width: 1120px) and (max-height: 794px)
  .reg
    &__main
      height: 650px
@media screen and (max-width: 1120px) and (max-height: 754px)
  .reg
    &__main
      height: 600px
@media screen and (max-width: 1120px) and (max-height: 730px)
@media screen and (max-width: 1112px) and (max-height: 764px)
  .reg
    &__main
      height: 630px
@media screen and (max-width: 1080px) and (max-height: 740px)
  .reg
    &__main
      height: 590px
@media screen and (max-width: 1080px) and (max-height: 707px)
  .reg
    &__main
      height: 590px
@media screen and (max-width: 1032px) and (max-height: 1302px)
  .reg
    &__main
      left: 45%
      height: 690px
      bottom: -5px
@media screen and (max-width: 1032px) and (max-height: 1257px)
@media screen and (max-width: 1024px)
  .reg
    &::before
      height: 55%
    &__footer
      font-size: 7.35px
      bottom: 5px
@media screen and (max-width: 1024px) and (max-height: 1368px)
  .reg
    &__main
      height: 700px
@media screen and (max-width: 1024px) and (max-height: 1292px)
  .reg
    &__main
      height: 670px
@media screen and (max-width: 1024px) and (max-height: 770px)
  .reg
    &__main
      height: 530px
@media screen and (max-width: 1024px) and (max-height: 730px)
  .reg
    &__main
      height: 500px
@media screen and (max-width: 1024px) and (max-height: 700px)
  .reg
    &__main
      height: 480px
@media screen and (max-width: 1024px) and (max-height: 670px)
  .reg
    &__main
      height: 470px
@media screen and (max-width: 1024px) and (max-height: 650px)
  .reg
    &__main
      height: 450px
@media screen and (max-width: 1024px) and (max-height: 630px)
  .reg
    &__main
      height: 430px