$font-suisse-intl-reg: SuisseIntl-Regular, sans-serif
$font-favbet-bold: FavbetDisplay-Bold, sans-serif
$font-favbet-med: FavbetDisplay-Medium, sans-serif

.wrapper
  -webkit-tap-highlight-color: transparent
  overscroll-behavior: none
  width: 100% // prod
  width: 50%
  height: 100%
  img
    max-width: 100%
    height: auto
.reg
  position: relative
  height: calc(var(--vh, 1vh) * 100)
  width: 100%
  overflow: hidden

  background: url("../img/bg-960.jpg") no-repeat 50% 50%/cover
  @media screen and (max-width: 1440px)
    background: url("../img/bg-720.jpg") no-repeat 50% 50%/cover
  @media screen and (max-width: 1280px)
    background: url("../img/bg-640.jpg") no-repeat 50% 50%/cover
  @media screen and (max-width: 1260px)
    background: url("../img/bg-512.jpg") no-repeat 50% 50%/cover

  
  &__logo
    margin: 32px auto 0
    width: 365px
    text-align: center
    transform-origin: top
    img
      width: 100%
  &__decorations
    &-lt
      position: absolute
      left: 0
      top: 0
      width: 184px
    &-lb
      position: absolute
      bottom: 61px
      left: 0
      width: 169px
    &-rt
      position: absolute
      right: 0
      top: 0
      width: 172px
  &__main
    margin: 0 auto
    padding-top: 170px
    position: absolute
    bottom: -93px
    width: 1275px
    aspect-ratio: 1275/1085
    left: 50%
    transform: translateX(-50%)
    transform-origin: bottom
    background: url("../img/main-960.png") no-repeat 50% 50%/cover
    @media screen and (max-width: 1440px)
      background: url("../img/main-720.png") no-repeat 50% 50%/cover
    @media screen and (max-width: 1280px)
      background: url("../img/main-640.png") no-repeat 50% 50%/cover
    @media screen and (max-width: 1024px)
      background: url("../img/main-512.png") no-repeat 50% 50%/cover
  
    &-info
      width: 555px
      margin: 0 auto
      display: flex
      flex-direction: column
      align-items: center
      font-family: $font-favbet-bold
      font-style: normal
      font-weight: 700
      line-height: normal
      color: #FFF
    &-title
      margin: 0
      text-align: center
      font-size: 118px
      letter-spacing: 1.18px
    &-plus
      width: 72px
      min-height: 72px
      margin-top: 6px
      margin-bottom: 14px
      background: url("../img/plus.svg") no-repeat 50% 50%/cover
    &-bit
      color: #E92377
      font-size: 60px
      letter-spacing: 0.6px
    &-fs
      margin-top: -20px
      margin-bottom: -15px
      font-size: 163px
      letter-spacing: 1.63px
      position: relative
      &::after
        content: '*'
        position: absolute
        top: 22px
        right: -25px
        color: #FFF
        text-align: center
        font-family: $font-favbet-med
        font-size: 50px
        font-weight: 500
    &-balance
      color: #E92377
      text-align: center
      font-size: 47px
      letter-spacing: 0.47px

  &__footer
    position: absolute
    z-index: 2
    opacity: 0.7
    width: 100%
    padding: 0 16px
    bottom: 20px
    color: #E3E3E3
    text-align: center
    text-shadow: 0px 0.88px 0px rgba(0, 0, 0, 0.25)
    font-family: $font-suisse-intl-reg
    font-size: 18px
    font-weight: 400
  &__shadow
    position: absolute
    bottom: 0
    left: 0
    right: 0
    height: 13%
    background: linear-gradient(180deg, rgba(9, 4, 44, 0.00) 0%, #09042C 60.05%)
    &::before
      content: ''
      position: absolute
      left: 45px
      bottom: 15px
      width: 140px
      height: 140px
      transform: rotate(-30deg)
      background: url("../img/footer-l.png") no-repeat 50% 50%/contain
    &::after
      content: ''
      position: absolute
      bottom: -13px
      right: 16px
      width: 175px
      height: 175px
      background: url("../img/footer-r.png") no-repeat 50% 50%/contain
@media screen and (max-width: 1023px)
  .wrapper
    display: none
  .Layout_column__3MM83
    width: 100%