.wrapper
  .reg
    .reg__logo 
      img(src="./img/logo.svg" alt="favbet logo")
    .reg__lt
      img(src="./img/lt.png" alt="left top plus")
    .reg__lb
      img(src="./img/lb.png" alt="left bottom plus")
    .reg__rt
      img(src="./img/right.png" alt="right top plus")
    .reg__main
      .reg__text
        p.reg__title Депозит <br> від 300₴
        .reg__plus
        p.reg__bit будь-яка ставка
        p.reg__fs = 50 FS
        p.reg__balance з основного балансу
    .reg__footer *деталі бонусу в особистому кабінеті
    .reg__shadow