.wrapper
  .reg
    .reg__logo 
      img(src="./img/logo.svg" alt="Логотип Favbet")

    .reg__decorations
      img.reg__lt(src="./img/lt.png" alt="декорація зліва вгорі")
      img.reg__lb(src="./img/lb.png" alt="декорація зліва внизу")
      img.reg__rt(src="./img/right.png" alt="декорація справа вгорі")

    .reg__main
      .reg__main-info
        p.reg__main-title Депозит <br> від 300₴
        .reg__main-plus
        p.reg__main-bit будь-яка ставка
        p.reg__main-fs = 50 FS
        p.reg__main-balance з основного балансу

    .reg__footer *Деталі бонусу в особистому кабінеті
    .reg__shadow
