.wrapper
  .reg
    .reg__header 
      .reg__logo 
        img(src="./img/logo.svg" alt="favbet logo")
      .reg__fc 80 FC
      .reg__text за верификацію
    .reg__main
      picture
        source(media="(max-width: 1032px) and (min-height: 1032px) and (orientation: portrait)" srcset="img/main-512.png")
        source(media="(max-width: 1024px)" srcset="img/main-512.png")
        source(media="(max-width: 1280px)" srcset="img/main-640.png")
        source(media="(max-width: 1440px)" srcset="img/main-720.png")
        source(media="(min-width: 1441px)" srcset="img/main-960.png")
        img(src="img/main-640.png" alt="main")
    .reg__footer Бонус доступний у вигляді FC (або FAVCOIN), що є внутрішньо-ігровою бонусною валютою,
      | яка доступна Гравцеві виключно в підрозділі «Прокачай гру» розділу «Акції». 
      | Період дії місії «Місія "Верифікація"» з 16.06.2025 по 31.07.2025. Деталі на favbet.ua