.wrapper
  .reg
    .reg__logo 
      img(src="./img/logo.svg" alt="favbet logo")
    .reg__lt
      img(src="./img/lt.png" alt="left top plus")
    .reg__lb
      img(src="./img/lb.png" alt="left bottom plus")
    .reg__rt
      img(src="./img/right.png" alt="right top plus")
    //- .reg__rb
    //-   img(src="./img/rb.png" alt="right bottom plus")
    .reg__main
      //- picture
      //-   source(media="(max-width: 1032px) and (min-height: 1032px) and (orientation: portrait)" srcset="img/main-512.png")
      //-   source(media="(max-width: 1024px)" srcset="img/main-512.png")
      //-   source(media="(max-width: 1280px)" srcset="img/main-640.png")
      //-   source(media="(max-width: 1440px)" srcset="img/main-720.png")
      //-   source(media="(min-width: 1441px)" srcset="img/main-960.png")
      //-   img(src="img/main-640.png" alt="main")
      .reg__text
        p.reg__title Депозит <br> від 300₴
        .reg__plus
        p.reg__bit будь-яка ставка
        p.reg__fs = 50 FS
        p.reg__balance з основного балансу
    .reg__footer *деталі бонусу в особистому кабінеті